{# <link rel="stylesheet" href="{{ ['assets/less/theme.less'] | theme }}"> #}
<link rel="preconnect" href="fonts.googleapis.com">
<link rel="preconnect" href="fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap">
<link rel="stylesheet" href="{{ ['assets/css/vendor.css', 'assets/css/style.css'] | theme }}">
{# <link rel="icon" type="image/png" href="{{ 'assets/images/winter.png'|theme }}"> #}

{% styles %}
{% placeholder head %}
